
.waiting{
    width: 100%;
    height: 100vh;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rebeccapurple;

    a{
        background: orange;
        color: aliceblue;
        padding: 0.4rem 0.8rem;
        border-radius: 4px;
    }
}