/* ================= FOOTER CSS ================= */
footer {
  background-color: #000000dc;
  color: #fff;
  padding: 0px 20px;
  padding-top: 60px;
}

footer .footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

footer h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

footer p,
footer li,
footer a {
  color: #ccc;
  line-height: 1.6;
  text-decoration: none;
}

footer a:hover {
  color: var(--bck);
}

footer ul {
  list-style: none;
  padding: 0;
  line-height: 2;
}

footer form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer input[type="email"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

footer button {
  background-color: var(--bck);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 1s;
}

footer button:hover {
  background-color: orangered;
}

footer .social-icons a {
  margin-right: 10px;
  font-size: 20px;
  color: var(--bck);
}

footer .social-icons a:last-child {
  margin-right: 0;
}

footer .footer-bottom {
  border-top: 1px solid #333;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  color: #666;
}

.footer-about a{
  color: var(--bck);
}

/* Responsive */
@media screen and (max-width: 768px) {
  footer .footer-container {
    flex-direction: column;
    gap: 30px;
  }
}
